*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: gray;
  font-family: "Inter", sans-serif;
}

button {
  font-family: inherit;
}

button:active {
  transform: scale(0.95);
}

.root { 
  padding: 1em;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/*=================
BADGES
===================*/

.badge-btn {
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  padding: .5em 1em;
  font-weight: 550;
  font-size: 1.35rem;
  border: none;
  letter-spacing: .5px;
  display: flex;
  align-items: center;
}

    /*===========
      COLORS
    ============*/

.badge-btn-gray {
  background-color: #F3F4F6;
  color: #1F2937;
}

.badge-btn-red {
  background-color: #FEE2E2;
  color: #991B1B;
}

.badge-btn-yellow {
  background-color: #FEF3C7;
  color: #92400E;
}

.badge-btn-green {
  background-color: #D1FAE5;
  color: #065F46;
}

.badge-btn-blue {
  background-color: #DBEAFE;
  color: #1E40AF;
}

.badge-btn-indigo {
  background-color: #E0E7FF;
  color: #3730A3;
}

.badge-btn-purple {
  background-color: #5B21B6;
  color: #EDE9FE;
}

.badge-btn-pink {
  background-color: #FCE7F3;
  color: #9D174D;
}

    /*============
      SHAPES
      =============*/
.badge-btn-square {
  border-radius: 5px;
}

.badge-btn-pill {
  border-radius: 30px;
}


/*=========
BANNER
==========*/

.banner-container {
  padding: 1.5em;
  display: flex;
  gap: 1em;
  border-radius: 8px;
  min-width: 35vw;
}

.banner-container-success {
  background-color: #ECFDF5;
  color: #065F46;
}

.banner-container-warning {
  background-color: #FFFBEB;
  color:#92400E;
}

.banner-container-error {
  background-color: #FEF2F2;
  color: #92400E;
}

.banner-container-info {
  background-color: #EFF6FF;
  color: #1E40AF;
}

.banner-inner {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.banner-title {
  margin: 0;
  font-size: 1.1rem;
  font-weight: 600;
}

.banner-title-success {
  color: #047857;
}

.banner-title-warning {
  color: #B45309;
}

.banner-title-error {
  color: #B45309;
}

.banner-title-info {
  color: #1C51B9;
}

.banner-text {
  margin: 0;
  font-size: 0.9rem;
  font-weight: 500;
}

.banner-text-success{
  color:#047857;
}

.banner-text-warning{
  color: #B45309;
}

.banner-text-error{
  color: #B45309;
}

.banner-text-info{
  color: #1C51B9;
}


/*=========
CARDS
===========*/

.card-container {
  background-color: #F9FAFB;
  color: #111827;
  border-radius: 8px;
  border: none;
  padding: 4em 1.5em 2em;
  display: flex;
  gap: 1.5em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  max-width: 800px;
  min-width: 300px;
}

.card-title {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0;
  color: #111827;
  letter-spacing: .75px;
}

.card-description {
  font-size: 1.15rem;
  line-height: 1.5;
  font-weight: 400;
  margin: 0;
  color: #6B7280;
  text-align: center;
}

.card-icon {
  top: 0%;
  transform: translate(0%, -50%);
  position: absolute;
  width: 4em;
  height: 4em;
  border: none;
  border-radius: 8px;
  padding: .65em;
  background-color:#3F75FE;
  color: white;
  cursor: pointer;
}

/*==========
TESTIMONIAL
============*/


.testimonial-container {
  background-color: #2545B8;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.testimonial-img-container {
  width: 100%;
  background-image: linear-gradient(to bottom, #FFFFFF 0%, #FFFFFF 50%, #2545B8 50%,#2545B8 100%);
  padding: 0 1em;
}

.testimonial-img {
  display: block;
  width: 100%;
  object-fit: cover;
  object-position: center 35%;
  min-height: 250px;
  border-radius: 10px;
  max-height: 25vh;
}

.testimonial-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: .3em;
  padding: 2em 1em 4em;
}

.testimonial-inner-description {
  margin: 0;
  font-size: 1.45rem;
  font-weight: 450;
  line-height: 1.5;
  margin-bottom: .9em;
  margin-top: .4em;
}

.testimonial-inner-name {
  margin: 0;
  font-size: 1rem;
  font-weight: 650;
}

.testimonial-inner-worklocation {
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
}

@media (min-width: 700px) {
  .testimonial-container {
    flex-direction: row;
    padding-left: 3em;
    max-width: 1300px;
  }
  .testimonial-img-container{
    background-image: none; 
    padding: 0;
    flex: 0 0 250px; 
    align-self: center;
  }

  .testimonial-inner {
    flex: 1 1 75%;
    padding: 4em 1em 4em;
  }
}