*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: gray;
  font-family: "Inter", sans-serif;
}

button {
  font-family: inherit;
}

button:active {
  transform: scale(0.95);
}

.root { 
  padding: 1em;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/*=================
BADGES
===================*/

.badge-btn {
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  padding: .5em 1em;
  font-weight: 550;
  font-size: 1.35rem;
  border: none;
  letter-spacing: .5px;
  display: flex;
  align-items: center;
}

    /*===========
      COLORS
    ============*/

.badge-btn-gray {
  background-color: #F3F4F6;
  color: #1F2937;
}

.badge-btn-red {
  background-color: #FEE2E2;
  color: #991B1B;
}

.badge-btn-yellow {
  background-color: #FEF3C7;
  color: #92400E;
}

.badge-btn-green {
  background-color: #D1FAE5;
  color: #065F46;
}

.badge-btn-blue {
  background-color: #DBEAFE;
  color: #1E40AF;
}

.badge-btn-indigo {
  background-color: #E0E7FF;
  color: #3730A3;
}

.badge-btn-purple {
  background-color: #5B21B6;
  color: #EDE9FE;
}

.badge-btn-pink {
  background-color: #FCE7F3;
  color: #9D174D;
}

    /*============
      SHAPES
      =============*/
.badge-btn-square {
  border-radius: 5px;
}

.badge-btn-pill {
  border-radius: 30px;
}


/*=========
BANNER
==========*/

.banner-container {
  padding: 1.5em;
  display: flex;
  gap: 1em;
  border-radius: 8px;
  min-width: 35vw;
}

.banner-container-success {
  background-color: #ECFDF5;
  color: #065F46;
}

.banner-container-warning {
  background-color: #FFFBEB;
  color:#92400E;
}

.banner-container-error {
  background-color: #FEF2F2;
  color: #92400E;
}

.banner-container-info {
  background-color: #EFF6FF;
  color: #1E40AF;
}

.banner-inner {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.banner-title {
  margin: 0;
  font-size: 1.1rem;
  font-weight: 600;
}

.banner-title-success {
  color: #047857;
}

.banner-title-warning {
  color: #B45309;
}

.banner-title-error {
  color: #B45309;
}

.banner-title-info {
  color: #1C51B9;
}

.banner-text {
  margin: 0;
  font-size: 0.9rem;
  font-weight: 500;
}

.banner-text-success{
  color:#047857;
}

.banner-text-warning{
  color: #B45309;
}

.banner-text-error{
  color: #B45309;
}

.banner-text-info{
  color: #1C51B9;
}
